@import url("https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  color: #393d41;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.65rem;
}

.logo {
  background-color: black;
  padding: 30px 0;
  height: 60px;
}

.logo img {
  display: block;
  width: 150px;
  padding-left: 75px;
}

.inserzione {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: top;
  padding-bottom: 300px;
}

.inserzione h1 {
  text-align: center;
  color: #25a2c3;
  font-size: 34px;
  line-height: 2rem;
  padding-top: 200px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.inserzione p {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  margin-inline: 32%;
}

button {
  font-family: "Montserrat", sans-serif;
  background-color: #f04c2f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
}

main h3 {
  font-family: "Montserrat", sans-serif;
  color: #25a2c3;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 15px;
}

main {
  padding: 60px 20px 30px;
  max-width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

main img {
  width: 500px;
  height: 500px;
  border-radius: 50%;

  margin-right: 20%;
  margin-bottom: -10%;
}

.paragrafi {
  text-align: left;
  max-width: 600px;
  margin: -300px auto 10px;
  padding-left: 70rem;
}

.paragrafi h3 {
  margin-top: 40px;
}

.paragrafi p {
  margin-bottom: 30px;
}

section {
  background-color: #e22d0e;
  color: white;
  padding: 80px 15px;
}

section h1 {
  font-size: 38px;
  margin-bottom: 40px;
  font-weight: 700;
}

section p {
  font-style: italic;
  font-size: 22px;
  margin-bottom: 50px;
}
section span {
  font-size: 12px;
}
.cards {
  padding: 70px 20px;
}

.wrap {
  border: 1px solid #dee1e3;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 30px;
  max-width: 350px;
  margin-left: 30px;
  margin-right: auto;
  display: inline-block;
}

.wrap img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
}

.wrap h4 {
  color: #25a2c3;
  padding: 20px 0;
  font-weight: 700;
}

.wrap p {
  padding: 0 20px 30px;
  line-height: 2rem;
}

footer {
  font-family: "Open Sans", sans-serif;
  background-color: #25a2c3;
  color: white;
  padding: 40px 20px;
  font-weight: 200;
}

footer h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 700;
  padding-top: 40px;
}

footer p {
  line-height: 1.6em;
  margin: 20px 0 50px;
  text-align: left;
  margin-top: 40px;
  margin-left: 43%;
  margin-right: 43%;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}

footer a:link {
  color: #c8e7f0;
}

footer span {
  font-size: 16px;

  display: inline-block;
  margin: 0 110px;
}
